<!doctype html>
<html>

<head>
    <title>Object Detection Inference</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    <script>
        function msg_alert() {
            alert("Note: Please wait a few moment for the calculation to complete.")
        }
    </script>
</head>

<body>
    <h1>Object Detection Inference</h1>

    {% extends "flash.html" %}
    {% block body %}

    <h3>Option 1. Upload an image file</h3>
    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="file">
        <br />
        <input type="submit" value="File Submit" class="btn" onclick="msg_alert()" />
    </form>

    <h3>Option 2. Select a sample image</h3>
    <form method="POST" enctype="multipart/form-data">
        <div class="sample">
            {% for filename in list %}
            <div>
                <label>
                    <input type="radio" name="select" value="{{ filename }}" />
                    <img src="{{ url_for('path_image', dir='sample', file=filename)}}" width="300" height="200">
                </label>
            </div>
            {% endfor %}
        </div>
        <br />
        <input type="submit" value="Sample Submit" class="btn" onclick="msg_alert()" />
    </form>
    {% endblock %}
</body>

</html>